@charset "utf-8";
*{font:normal 12px/2em '微软雅黑';padding:0;margin:0 auto}
ul,li{list-style:none}
a{ color:#09f;}
.words{float:left;margin-left:5px;font-weight:bold;}
/*容器*/
#xzw_starBox{position:relative;width:150px;float:left;}
#xzw_starSys{height:20px;}
/**/
#xzw_starSys .description{margin-left:30px;float:left;}
#xzw_starSys .star{height:20px;width:120px;position:relative;background:url(image/123.png) repeat-x;cursor:pointer}
#xzw_starSys .star li{float:left;padding:0px;margin:0px}
#xzw_starSys .star li a{display:block;width:24px;height:20px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
#xzw_starSys .star li a:hover{background:url(image/123.png) 0 -25px repeat-x;z-index:3;left:0}
#xzw_starSys .star a.one-star{left:0}
#xzw_starSys .star a.one-star:hover{width:24px}
#xzw_starSys .star a.two-stars{left:24px}
#xzw_starSys .star a.two-stars:hover{width:48px}
#xzw_starSys .star a.three-stars{left:48px}
#xzw_starSys .star a.three-stars:hover{width:72px}
#xzw_starSys .star a.four-stars{left:72px}
#xzw_starSys .star a.four-stars:hover{width:96px}
#xzw_starSys .star a.five-stars{left:96px}
#xzw_starSys .star a.five-stars:hover{width:120px}
#xzw_starSys .current-rating{background:url(image/123.png) 0 -25px repeat-x;position:absolute;height:20px;z-index:1;top:0;left:13px}

#xzw_starBox2{position:relative;width:150px;float:left}
#xzw_starSys2{height:20px;padding-top:10px;}
/**/
#xzw_starSys2 .description2{margin-left:30px;float:left;padding-top:0px;}
#xzw_starSys2 .star{height:20px;width:120px;position:relative;background:url(image/123.png) repeat-x;cursor:pointer}
#xzw_starSys2 .star li{float:left;padding:0px;margin:0px}
#xzw_starSys2 .star li a{display:block;width:24px;height:20px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
#xzw_starSys2 .star li a:hover{background:url(image/123.png) 0 -25px repeat-x;z-index:3;left:0}
#xzw_starSys2 .star a.one-star{left:0}
#xzw_starSys2 .star a.one-star:hover{width:24px}
#xzw_starSys2 .star a.two-stars{left:24px}
#xzw_starSys2 .star a.two-stars:hover{width:48px}
#xzw_starSys2 .star a.three-stars{left:48px}
#xzw_starSys2 .star a.three-stars:hover{width:72px}
#xzw_starSys2 .star a.four-stars{left:72px}
#xzw_starSys2 .star a.four-stars:hover{width:96px}
#xzw_starSys2 .star a.five-stars{left:96px}
#xzw_starSys2 .star a.five-stars:hover{width:120px}
#xzw_starSys2 .current-rating{background:url(image/123.png) 0 -25px repeat-x;position:absolute;height:20px;z-index:1;top:0;left:0}

#xzw_starBox3{position:relative;width:150px;float:left}
#xzw_starSys3{height:20px;padding-top:10px;}
/**/
#xzw_starSys3 .description3{margin-left:30px;float:left;}
#xzw_starSys3 .star{height:20px;width:120px;position:relative;background:url(image/123.png) repeat-x;cursor:pointer}
#xzw_starSys3 .star li{float:left;padding:0px;margin:0px}
#xzw_starSys3 .star li a{display:block;width:24px;height:20px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
#xzw_starSys3 .star li a:hover{background:url(image/123.png) 0 -25px repeat-x;z-index:3;left:0}
#xzw_starSys3 .star a.one-star{left:0}
#xzw_starSys3 .star a.one-star:hover{width:24px}
#xzw_starSys3 .star a.two-stars{left:24px}
#xzw_starSys3 .star a.two-stars:hover{width:48px}
#xzw_starSys3 .star a.three-stars{left:48px}
#xzw_starSys3 .star a.three-stars:hover{width:72px}
#xzw_starSys3 .star a.four-stars{left:72px}
#xzw_starSys3 .star a.four-stars:hover{width:96px}
#xzw_starSys3 .star a.five-stars{left:96px}
#xzw_starSys3 .star a.five-stars:hover{width:120px}
#xzw_starSys3 .current-rating{background:url(image/123.png) 0 -25px repeat-x;position:absolute;height:20px;z-index:1;top:0;left:0}

